.register-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f5;
  height: 100vh;
  .register-form {
    padding: 10px 16px 20px 16px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.3);
    .login-title {
      padding-bottom: 10px;
    }
  }
  //   .login-form-forgot {
  //     // float: right;
  //   }
  //   .login-form-button {
  //     width: 100%;
  //   }
}
