.card-list {
   display: flex;
   gap: 50px;
   width: 100%;
   .card-item {
      width: 24%;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.3);
      .card-img {
         border-radius: 5px;
         img {
            border-radius: 5px;
         }
      }
      .card-content {
         .card-title {
         }
         .card-text {
            padding: 0 4px;
         }
         padding-bottom: 24px;
         button:hover {
            opacity: 0.3;
         }
      }
   }
   .card-item:hover {
      cursor: pointer;
   }
}
