//pc : width >= 1600px
@media only screen and (min-width: 100em) {
}

//small pc 1024 - 1599
@media only screen and (min-width: 64em) and (max-width: 99.9375em) {
   .cmt-content {
      width: 100%;
   }
}

//tablet: width >= 740px and width < 1023px
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
   .cmt-content {
      width: 100%;
   }
}

//modile: width < 740px
@media only screen and (max-width: 46.1875em) {
   .cmt-content {
      width: 100%;
   }
}
