.list-content {
   height: 100%;
   .list-title {
      display: flex;
      padding: 8px;
   }
   .list-body {
      height: 400px;
      padding: 0 16px 16px 16px;
      overflow: auto;
      .list-item {
         border: 1px solid #ccc;
         display: flex;
         align-items: center;
         margin: 8px 0;
         .item-icon {
            width: 70px;
         }
         .item-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .item-text-head {
            }
            .item-text-body {
            }
         }
      }
   }
}
